<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.cryptobox">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/rubik_cube"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rubik_cube"
        android:supportsRtl="true"
        android:screenOrientation="portrait"

    android:theme="@style/Theme.CryptoBox.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecretsViewActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CryptoBox.NoActionBar" />
        <activity
            android:name=".SecretsDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CryptoBox.Dialog" />

        <activity
            android:name=".ClearDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CryptoBox.Dialog" />

        <provider
            android:name=".SecretsProvider"
            android:authorities="com.ss.cryptobox"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>
    </application>

</manifest>